<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <title> A ❤ L </title>
</head>
<body>
    <div class = 'background1'> <!--Imagem 1 de fundo--> 
        <div class ='conteiner'> <!-- Ajuste página no centro-->
            <header class = 'cabecalho'>
                <h3>logo</h3> <!-- Cabeçalho -->
            </header>
            <h1 id = "nome"> Akylles e Leticia </h1>
            <h2 id = "anos"> Two years </h2>
            <p class = "paragrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, cupiditate! Odio veniam quos nisi ducimus voluptatem similique quia, voluptates perspiciatis quas sapiente. Perspiciatis vel aliquam explicabo natus dolores, libero hic!</p>
            <div>
                <button class= "buttom">Save the Date</button> 
            </div>
            
        </div>
    </div>    
    
    <div class = 'background2'>
        <div>
        <img><img src="../Imagens/background2.jpg" alt="">
        <h2>Olá convidado!</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium dolore possimus ab excepturi dolor? Porro error optio laudantium. Nemo, error? Ea impedit minima dicta nulla officiis ipsa facilis nisi sint.</p>
        
        </div>
    </div>
</body>
</html>